<h1>Index of {{ path }}</h1>
<hr />
<ul>
{{ tools }}
  <li>
    <a href="{{ path }}" title="{{ name }}">{{ name }}</a>
  </li>
{{ /tools }}
</ul>
<hr />
<p style="text-align:right;font-style: italic;"><small>please report issues on <a href="https://github.com/ctubio/www-toolbox/">github</a>.</small></p>